[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
[submodule "external/src/RandomX"]
	path = external/src/RandomX
	url = https://github.com/SChernykh/RandomX
[submodule "external/src/rapidjson"]
	path = external/src/rapidjson
	url = https://github.com/SChernykh/rapidjson
[submodule "external/src/cppzmq"]
	path = external/src/cppzmq
	url = https://github.com/SChernykh/cppzmq
