[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
[submodule "external/src/RandomX"]
	path = external/src/RandomX
	url = https://github.com/SChernykh/RandomX
[submodule "external/src/rapidjson"]
	path = external/src/rapidjson
	url = https://github.com/SChernykh/rapidjson
[submodule "external/src/cppzmq"]
	path = external/src/cppzmq
	url = https://github.com/SChernykh/cppzmq
[submodule "external/src/libuv"]
	path = external/src/libuv
	url = https://github.com/SChernykh/libuv
[submodule "external/src/libzmq"]
	path = external/src/libzmq
	url = https://github.com/SChernykh/libzmq
[submodule "external/src/robin-hood-hashing"]
	path = external/src/robin-hood-hashing
	url = https://github.com/SChernykh/robin-hood-hashing
[submodule "external/src/curl"]
	path = external/src/curl
	url = https://github.com/SChernykh/curl
[submodule "external/src/miniupnp"]
	path = external/src/miniupnp
	url = https://github.com/SChernykh/miniupnp
[submodule "external/src/grpc"]
	path = external/src/grpc
	url = https://github.com/SChernykh/grpc
	branch = v1.61.x
