{
    "wallet_address": {{ wallet_address | tojson(indent=2) }},
    "configure_monero": {{ configure_monero | tojson(indent=2) }},
    "configure_xmrig": {{ configure_xmrig | tojson(indent=2) }},
    "sidechain": {{ sidechain | tojson(indent=2) }},
    "enable_statistics": {{ enable_statistics | tojson(indent=2) }},
    "statistics_port": {{ statistics_port | tojson(indent=2) }},
    "expose_stratum_port": {{ expose_stratum_port | tojson(indent=2) }},
    "stratum_port": {{ stratum_port | tojson(indent=2) }},
    "p2pool_log_level": {{ p2pool_log_level | int | tojson(indent=2) }},
    "enable_autodiff": {{ enable_autodiff | tojson(indent=2) }},
    "light_mode": {{ light_mode | tojson(indent=2) }},
    "no_cache": {{ no_cache | tojson(indent=2) }},
    "p2pool_options": {{ p2pool_options | tojson(indent=2) }},
    "monero_version": {{ monero_version | tojson(indent=2) }},
    "prune_blockchain": {{ prune_blockchain | tojson(indent=2) }},
    "monero_log_level": {{ monero_log_level | int | tojson(indent=2) }},
    "expose_rpc_port": {{ expose_rpc_port | tojson(indent=2) }},
    "rpc_port": {{ rpc_port | tojson(indent=2) }},
    "rpc_login": {{ rpc_login | tojson(indent=2) }},
    "limit_data_rates": {{ limit_data_rates | tojson(indent=2) }},
    "rate_limit_up": {{ rate_limit_up | tojson(indent=2) }},
    "rate_limit_down": {{ rate_limit_down | tojson(indent=2) }},
    "sync_pruned_blocks": {{ sync_pruned_blocks | tojson(indent=2) }},
    "fast_sync": {{ fast_sync | tojson(indent=2) }},
    "monero_options": {{ monero_options | tojson(indent=2) }},
    "public_monero_node": {{ public_monero_node | tojson(indent=2) }},
    "monero_node_login": {{ monero_node_login | tojson(indent=2) }},
    "xmrig_username": {{ xmrig_username | tojson(indent=2) }},
    "use_fixed_difficulty": {{ use_fixed_difficulty | tojson(indent=2) }},
    "fixed_difficulty": {{ fixed_difficulty | int | tojson(indent=2) }},
    "cpu_percent": {{ cpu_percent | int | tojson(indent=2) }},
    "cpu_priority": {{ cpu_priority | int | tojson(indent=2) }},
    "xmrig_options": {{ xmrig_options | tojson(indent=2) }}
}
